<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Library Management System</title>
</head>
<body>
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">New Book</h3>
      <form action="#" th:action="@{/books/save}" th:object="${book}" method="POST">
        <input type="hidden" th:field="*{id}">
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" class="form-control mb-3" id="title">
        <label for="genre">Genre:</label>
        <br>
        <select id="genre" name="genre">
          <option th:each="genre : ${T(com.oc01.springbootlibrarymanagementsystem.entity.Genre).values()}"
                  th:value="${genre}" th:text="${genre}"></option>
        </select>
        <br>
        <label for="datePublished">Publish Date:</label>
        <input type="date" th:field="*{datePublished}" class="form-control mb-3" id="datePublished" th:value="${#dates.format(book.datePublished, 'yyyy-MM-dd')}">
        <label for="description">Description:</label>
        <input type="text" th:field="*{description}" class="form-control mb-3" id="description">
        <label for="rating">Rating:</label>
        <br>
        <select id="rating" name="rating">
          <option th:each="rating : ${T(com.oc01.springbootlibrarymanagementsystem.entity.Rating).values()}"
                  th:value="${rating}" th:text="${rating}"></option>
        </select>
        <br>
        <label for="pages">No. of Pages:</label>
        <input type="number" th:field="*{pages}" class="form-control mb-3" id="pages">
        <label for="row">Row No.</label>
        <input type="number" th:field="*{row}" class="form-control mb-3" id="row">
        <label for="shelf">Shelf No.</label>
        <input type="number" th:field="*{shelf}" class="form-control mb-3" id="shelf">
        <label for="copiesInLibrary">Copies in Library</label>
        <input type="number" th:field="*{copiesInLibrary}" class="form-control mb-3" id="copiesInLibrary">
        <label for="copiesLoaned">Copies Loaned</label>
        <input type="number" th:field="*{copiesLoaned}" class="form-control mb-3" id="copiesLoaned">
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  <a th:href="@{/books/list}" class="btn btn-success mt-3">Back to Books List</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>