<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Library Management System</title>
</head>
<body>
<div class="container mt-3">
  <div class="card" style="width: 32rem">
    <div class="card-body">
      <div style="text-align: center;">
        <h2 class="card-title" th:text="'\'' + ${book.title} + '\''"></h2>
        <hr>
      </div>
      <h5>Authors:</h5>
      <span th:each="author : ${authors}">
        <p th:text="${author.getFullName()}"></p>
      </span>
      <a th:href="@{/books/author-form(bookId=${book.id})}" class="btn btn-secondary btn-sm">Add Author</a>
      <hr>
      <h5>Genre & Rating</h5>
      <p th:text="${book.genre + ' | ' + book.rating}"></p>
      <hr>
      <h5>Publish Date</h5>
      <p th:text="${book.datePublished}"></p>
      <hr>
      <h5>Description</h5>
      <p th:text="${book.description}"></p>
      <hr>
      <h5>No. Pages</h5>
      <p th:text="${book.pages}"></p>
      <hr>
      <h5>Where in library</h5>
      <h6>Shelf:</h6>
      <p th:text="${book.shelf != null ? book.shelf : 'No Data'}"></p>
      <h6>Row:</h6>
      <p th:text="${book.row != null ? book.row : 'No Data'}"></p>
      <hr>
      <h5>Copies available & copies loaned</h5>
      <p th:text="${book.copiesInLibrary + ' | ' + book.copiesLoaned}"></p>
      <p th:if="${book.isAvailable == true && book.copiesInLibrary > 0 ? 'Available' : 'Not Available'}"></p>
    </div>
  </div>
  <a th:href="@{/books/list}" class="btn btn-success mt-3">Back to Books List</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>